.test{
    position: absolute;
    height: 50vh;
    width: 50vh;

    background-color: black;
    display: flex;
    justify-content: center;
}


.testTest{
    height: 10vh;
    width: 10vh;

    position: relative;
    background-color: white;
}