#projekty {
  width: 80vw;
  padding: 5vh 10vw;
  height: 100vh;
  margin-top: 0vh;
  border-top: 0.5vh solid var(--blue3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--szary4);
  transform: scale(1);

  transition: 0.5s;
}
#projekty > h1 {
  font-size: 3rem;
  color: white;
  align-self: flex-start;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  margin-bottom: 2vh;
}
.projekty_belt {
  position: relative;
  top: 4svh;
  width: 70vw;
  height: 80vh;
  gap: 4vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.projekt_click {
  width: 20vw;
  height: 30vh;
}

.projekt_click > div {
  height: 30vh;
  width: 20vw;
  position: absolute;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
.projekt_click > div > h1 {
  background-color: var(--szary4);

  border-radius: 2vh;
  color: rgb(255, 255, 255);
  min-width: 5vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  position: relative;
  top: 2vh;
  z-index: 4;
  font-size: 1.3rem;
  font-weight: 500;

  text-align: center;

  padding: 0 2.5vw;
}

.projekt_img {
  width: 20vw;
  height: 30vh;
  background-color: var(--szary2);
  border-radius: 2vh;
  position: absolute;
  z-index: 1;
  top: 0;
}

.projekt_img > img {
  width: 20vw;
  height: 25vh;
  transition: 300ms;
  transform: scale(0.6);
  margin-bottom: 5vh;
  position: relative;
  bottom: 0vh;
  opacity: 0.5;
}

.projekt_click:hover .projekt_img > img {
  transform: scale(0.75);
  opacity: 1;
  bottom: 3vh;
  filter: drop-shadow(0 0 0.7vw rgba(255, 255, 255, 0.5));
}

.projekt_click:hover > div > h1 {
  top: 6vh;
  transform: scale(0.9);
  opacity: 0.6;
}

@media only screen and (max-width: 600px) {
  #projekty {
    height: 150vh;
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
  }

  .projekty_belt {
    width: 95%;
    flex-wrap: wrap;
    top: -20svh;
    gap: 10vw;
    margin-left: 2.5vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    a {
      width: 40vw;
    }
  }
  .projekt_click {
    width: 40vw;
    height: 30vh;

    div {
      width: 40vw;
    }
  }

  .projekt_img {
    width: 40vw;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 40vw;
      height: 25vh;
      object-fit: contain;
    }
  }
}
