@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

.silesianPhoenix {
  background-color: black;

  font-family: "Space Grotesk", sans-serif;
}

.line {
  width: 100%;
  height: 0.8vh;
  background-color: var(--silesianPhoenixOrange);

  position: relative;
}
b {
  color: var(--silesianPhoenixOrange);
  font-weight: 400;
}
.aboutContainer {
  padding-bottom: 10vh;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;

  .aboutUs {
    width: 65%;
    height: 32vh;
    background: rgb(36, 36, 36);
    background: linear-gradient(
      135deg,
      rgba(36, 36, 36, 1) 0%,
      rgba(42, 42, 42, 1) 100%
    );
    padding: 4vh;
    border-radius: 1vh;
    margin-top: 12vh;

    font-weight: 100;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-size: 3.5vh;
      margin-top: -2vh;
      font-weight: 400;
    }

    h1::before {
      content: "";
      display: inline-block;
      margin-right: 1vh;
      position: relative;
      top: 1.5vh;
      height: 6vh;
      width: 0.3vw;

      background-color: var(--silesianPhoenixOrange);
    }

    .textContainer {
      height: 25vh;
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 0.65vw;

      h2 {
        font-size: 2vh;
        font-weight: 300;
        line-height: 3.5vh;
      }
    }
  }
}

.secondSection {
  width: calc(65% + 8vh);

  margin-top: 5vh;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .currentProject,
  .teamwork {
    width: 45%;
    background: rgb(36, 36, 36);

    border-radius: 1vh;

    padding: 2vh 4vh;
    box-sizing: border-box;

    .image {
      height: 30vh;
      width: 80%;
      background-image: url("../img/SilesianPhoenix/Phoenix.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3vh;
    }
    h1 {
      font-size: 3vh;
      font-weight: 400;
    }
    h1::before {
      content: "";
      display: inline-block;
      margin-right: 1vh;
      position: relative;
      top: 1.1vh;
      height: 4vh;
      width: 0.25vw;

      background-color: var(--silesianPhoenixOrange);
    }

    h2 {
      font-size: 2vh;
      font-weight: 300;
      line-height: 3.5vh;
      margin-top: 4vh;
    }
  }

  .currentProject {
    padding-bottom: 8vh;
  }
  .teamwork {
    padding-bottom: 4vh;

    h2 {
      margin-top: 3vh;
    }
  }
}

.silesianPhoenixTeam {
  width: 100%;
  height: 135vh;
  background-image: url("../img/SilesianPhoenix/teamBg.png");
  background-size: 100% 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  .team {
    width: 100%;

    .first--row {
      height: 40vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .person {
        width: 32%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        .line {
          width: 50%;
          margin: 2vh;
        }
        h2 {
          font-size: 3vh;
          font-weight: 400;
          color: white;
        }

        h3 {
          font-size: 2vh;
          font-weight: 300;
          color: white;
          text-align: center;
        }
        .photo {
          width: 100%;
          height: 70%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 2vh;
        }

        .Jakub {
          background-image: url("../img/SilesianPhoenix/JakubGurgul.png");
        }
        .Andrzej {
          background-image: url("../img/SilesianPhoenix/AndrzejJalowiecki.png");
        }
      }
    }
    .second--row {
      height: 35vh;
      width: 100%;
      margin-top: 15vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .person {
        width: 25%;
        height: 110%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        .line {
          width: 50%;
          margin: 2vh;
        }
        h2 {
          font-size: 2.5vh;
          font-weight: 400;
          color: white;
        }

        h3 {
          font-size: 1.8vh;
          font-weight: 300;
          color: white;
          text-align: center;
        }
        .photo {
          width: 100%;
          height: 70%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 2vh;
        }

        .Dominik {
          background-image: url("../img/SilesianPhoenix/Dominik.png");
        }
        .Radek {
          background-image: url("../img/SilesianPhoenix/Radek.png");
        }
        .Urszula {
          background-image: url("../img/SilesianPhoenix/Urszula.png");
        }
      }
    }
  }
  h2 {
    font-size: 5.5vh;
    font-weight: 400;
    color: white;
  }

  .teamText {
    margin-top: -2vh;
    .line {
      height: 0.6vh;
      width: 110%;
      position: relative;
      left: -5%;
      margin-top: 1vh;
    }
  }
  .shadow {
    height: 135vh;
    width: 120%;
    position: absolute;
    left: -10%;
    box-shadow: inset 0 0 1.5vh 0 var(--silesianPhoenixOrange);
  }
}

.silesianPhoenixSponsors {
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h1 {
    filter: blur(0);

    font-size: 5.5vh;
    font-weight: 400;

    color: black;

    hr {
      width: 120%;
      position: relative;
      left: -10%;
      top: 1vh;
      background-color: var(--silesianPhoenixOrange);
    }
  }

  .sponsorsLogos {
    width: 60%;
    height: 50vh;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    gap: 5%;

    filter: blur(0);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 1vh;
      box-sizing: border-box;
      border-radius: 0.2vh;

      transition: 0.2s;
    }
    img:hover {
      transform: scale(1.02);
      background: #cfd7d6;
    }
  }
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/SilesianPhoenix/sponsorsBg.jpg");
    background-size: 100% 100%;
    background-position: center;
    filter: brightness(0.2) blur(0.5vh);
  }
}

.silesianPhoenixSocials {
  height: 60vh;
  width: 100%;
  background-color: #1b1b1b;

  display: flex;
  .left {
    width: 70%;
    height: 100%;

    .info {
      padding: 3vw;
      box-sizing: border-box;
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;

      h2 {
        font-size: 2.5vh;
        font-weight: 400;
      }
    }

    .socials {
      padding-left: 3vw;
      box-sizing: border-box;
      height: 50%;
      width: 100%;

      display: grid;
      grid-template-columns: 33% 33%;
      grid-template-rows: 33% 33% 33%;

      h2 {
        font-weight: 200;
        color: gray;

        .icon {
          font-size: 2.5vh;
          margin-right: 1vh;
          position: relative;
          top: 1vh;

          color: white;
          padding: 0.5vh;
          background-color: var(--silesianPhoenixOrange);
          border-radius: 0.5vh;
        }
      }
    }
  }
  .right {
    width: 30%;
    height: 100%;

    padding-right: 5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;

    .qr {
      width: 30vh;
      height: 30vh;
      background-color: white;
      background-image: url("../img/SilesianPhoenix/qr.png");
      background-size: 90% 90%;
      background-repeat: no-repeat;
      background-position: center;
    }

    .button {
      width: 30vh;
      padding: 2vh;
      box-sizing: border-box;
      text-align: center;
      background-color: var(--silesianPhoenixOrange);
      font-size: 2vh;
      .icon {
        font-size: 1.5vh;
      }

      transition: 0.5s;
    }
    .button:hover {
      transform: scale(1.02);
      cursor: pointer;
    }
  }
}
