:root {
  --szary1: #1b1b1b;
  --szary2: #292929;
  --szary3: #2b2b2c;
  --szary4: #151515;
  --szary5: #3e6b8f;
  --blue1: #266abb;
  --blue2: #88c4e4;
  --blue3: #5583bd;
  --blue4: #72a1da;
  --orange: #ff7a00;

  --silesianPhoenixOrange: #FE5F2D; 
}

